# Database
DATABASE_URL=postgresql://wraith:wraith@db:5432/wraith

# Gemini AI
GEMINI_API_KEY=

# Deployer key (for name registration and sponsored transactions)
DEPLOYER_KEY=

# Horizen EVM
HORIZEN_CHAIN_ID=2651420
HORIZEN_RPC_URL=https://horizen-testnet.rpc.caldera.xyz/http
HORIZEN_EXPLORER_URL=https://horizen-testnet.explorer.caldera.xyz
HORIZEN_SUBGRAPH_URL=
HORIZEN_ANNOUNCER_ADDRESS=0x8AE65c05E7eb48B9bA652781Bc0a3DBA09A484F3
HORIZEN_REGISTRY_ADDRESS=0x953E6cEdcdfAe321796e7637d33653F6Ce05c527
HORIZEN_SENDER_ADDRESS=0x226C5eb4e139D9fa01cc09eA318638b090b12095
HORIZEN_WITHDRAWER_ADDRESS=0x9F7f1C9d8B5a83245c6fC8415Ef744C458101711
HORIZEN_NAMES_ADDRESS=0x3d46f709a99A3910f52bD292211Eb5D557F882D6
HORIZEN_FAUCET_URL=https://horizen-testnet.hub.caldera.xyz/faucet

# Stellar
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_SOROBAN_URL=https://soroban-testnet.stellar.org
STELLAR_ANNOUNCER_CONTRACT_ID=
STELLAR_FRIENDBOT_URL=https://friendbot.stellar.org
